# Packages

In [16]:
import pandas as pd
import numpy as np

# config

In [3]:
train_df = pd.read_parquet('../../data/parquet/val/000000000_000100000.parquet')
target_df = pd.read_parquet('../../data/parquet/val_label/000000000_000100000.parquet')

In [6]:
train_df

         session      aid             ts    type
0       11098528    11830  1661119200060  clicks
1       11098529  1105029  1661119200259  clicks
2       11098530   264500  1661119200974  clicks
3       11098530   264500  1661119288407  clicks
4       11098530   409236  1661119369986  clicks
...          ...      ...            ...     ...
495350  11198664  1408492  1661168187240  clicks
495351  11198664  1296569  1661168217575  clicks
495352  11198664  1131713  1661168235902  clicks
495353  11198664   583797  1661168324866  clicks
495354  11198665   199586  1661168187343  clicks

[495355 rows x 4 columns]

In [5]:
target_df

         session    type                                       ground_truth
0       11098528  clicks                                          [1679529]
1       11098528   carts                                          [1199737]
2       11098528  orders  [990658, 950341, 1462506, 1561739, 907564, 369...
3       11098529  clicks                                          [1105029]
4       11098530  orders                                           [409236]
...          ...     ...                                                ...
125772  11198663   carts                                           [754723]
125773  11198663  orders                                           [754723]
125774  11198664  clicks                                           [285929]
125775  11198665  clicks                                           [199586]
125776  11198665   carts                                           [199586]

[125777 rows x 3 columns]

# Single_case

In [63]:
target_session = np.random.choice(train_df['session'].unique())
target_session

11106137

## weights based current session

In [61]:
train_df[train_df['session']==target_session]

         session      aid             ts    type
208437  11138463   360199  1661153182537  clicks
208438  11138463   360199  1661153239299  orders
208439  11138463   970135  1661153239299  orders
208440  11138463   575006  1661185757308  clicks
208441  11138463   575006  1661185762067   carts
208442  11138463  1320003  1661185822060  clicks

In [62]:
target_df[(target_df['session']==target_session)][['type', 'ground_truth']].values

array([['orders', array([575006])]], dtype=object)