# Packages

In [1]:
import pandas as pd

# Config

In [26]:
dir_path = '../out/debug_test_sessions.jsonl'
label_dir_path = '../out/debug_test_labesl.jsonl'
final_dir_path = '../out/debug_submission.csv'

In [8]:
df = pd.read_json(dir_path, lines=True)
df_label = pd.read_json(label_dir_path, lines=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   session  3 non-null      int64
 1   events   3 non-null      object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [10]:
df.shape

(3, 2)

In [11]:
df

    session                                             events
0  11098528  [{'aid': 11830, 'ts': 1661119200060, 'type': '...
1  11098529  [{'aid': 1105029, 'ts': 1661119200259, 'type':...
2  11098530  [{'aid': 264500, 'ts': 1661119200974, 'type': ...

In [12]:
df_label

    session                                             labels
0  11098528  {'clicks': 1679529, 'carts': [1199737], 'order...
1  11098529                                {'clicks': 1105029}
2  11098530                               {'orders': [409236]}

In [13]:
session_type = []
labels = []

In [20]:
for idx, row in df_label.iterrows():
    session = str(row['session'])
    label_dict = row['labels']
    for key, value in label_dict.items():
        st = session + "_" + key
        if type(value) == list:
            label = (' ').join([str(ele) for ele in value])
        else:
            label = str(value)
#         print(label)
        session_type.append(st)
        labels.append(label)
#     print(row['labels'])

In [21]:
session_type

['11098528_clicks',
 '11098528_carts',
 '11098528_orders',
 '11098529_clicks',
 '11098530_orders',
 '11098528_clicks',
 '11098528_carts',
 '11098528_orders',
 '11098529_clicks',
 '11098530_orders']

In [24]:
submission_df = pd.DataFrame({
    'session_type': session_type,
    'labels': labels
})

In [25]:
submission_df

      session_type                                             labels
0  11098528_clicks                                            1679529
1   11098528_carts                                            1199737
2  11098528_orders  990658 950341 1462506 1561739 907564 369774 44...
3  11098529_clicks                                            1105029
4  11098530_orders                                             409236
5  11098528_clicks                                            1679529
6   11098528_carts                                            1199737
7  11098528_orders  990658 950341 1462506 1561739 907564 369774 44...
8  11098529_clicks                                            1105029
9  11098530_orders                                             409236

In [27]:
submission_df.to_csv(final_dir_path, index=False)