# Package

In [3]:
import pandas as pd

# Config

In [16]:
! ls ../model_training/candidate_v2_train1_data/

top_15_buy2buy_v5_0.pqt      top_20_clicks_v5_0.pqt
top_15_carts_orders_v5_0.pqt top_20_clicks_v5_1.pqt
top_15_carts_orders_v5_1.pqt top_20_clicks_v5_2.pqt
top_15_carts_orders_v5_2.pqt top_20_clicks_v5_3.pqt
top_15_carts_orders_v5_3.pqt

# Carts-order

In [18]:
file_name = '../model_training/candidate_v2_train1_data/top_15_carts_orders_v5_0.pqt'
df = pd.read_parquet(file_name)

In [10]:
df.shape

(5746306, 3)

In [11]:
df.head()

   aid_x    aid_y   wgt
0      0   532042  11.0
1      0  1848174  10.0
2      0   643097   7.0
3      0  1363081   7.0
4      0  1735605   7.0

In [14]:
len(df['aid_x'].unique())

422225

In [17]:
len(df['aid_y'].unique())

1069368

# Click

In [19]:
file_name = '../model_training/candidate_v2_train1_data/top_20_clicks_v5_0.pqt'
df = pd.read_parquet(file_name)

In [20]:
df.head()

   aid_x    aid_y       wgt
0      0   643097  9.090775
1      0  1735605  8.700008
2      0  1848174  8.565256
3      0   532042  6.966153
4      0  1012453  4.669020

# Buy

In [21]:
file_name = '../model_training/candidate_v2_train1_data/top_15_buy2buy_v5_0.pqt'
df = pd.read_parquet(file_name)

In [22]:
df.head()

   aid_x    aid_y  wgt
0      1  1533875  1.0
1      1  1832177  1.0
2      4     6803  1.0
3      4    12297  1.0
4      4    30822  1.0